<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <div class="widget full">

    <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
      <div class="owl-wrapper-outer">
        <div class="owl-wrapper"
             style="width: 7020px; left: 0px; display: block; transition: all 500ms ease 0s; transform: translate3d(-1170px, 0px, 0px);">



          <div class="owl-item" style="width: 1170px;">
            <div class="item" style="background-image: url(&quot;/images/bg1.jpg&quot;); height: 402.188px;"
                 data-image-url="/images/bg1.jpg">
              <div class="slider-inner">
                <div class="carousel-content">
                  <a target="_self" href="http://www.zkea.net/zkeacms/donate">图1</a>

                </div>
              </div>
            </div>
          </div>

          <div class="owl-item" style="width: 1170px;">
            <div class="item" style="background-image: url(&quot;/images/bg2.jpg&quot;); height: 402.188px;"
                 data-image-url="/images/bg2.jpg">
              <div class="slider-inner">
                <div class="carousel-content">
                  <a target="_self" href="http://www.zkea.net/zkeacms/donate">图2</a>

                </div>
              </div>
            </div>
          </div>

          <div class="owl-item" style="width: 1170px;">
            <div class="item" style="background-image: url(&quot;/images/bg3.jpg&quot;); height: 402.188px;"
                 data-image-url="/images/bg3.jpg">
              <div class="slider-inner">
                <div class="carousel-content">
                  <a target="_self" href="http://www.zkea.net/zkeacms/donate">图3</a>

                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


      <div class="owl-controls clickable">
        <div class="owl-pagination">
          <div class="owl-page"><span class=""></span></div>
          <div class="owl-page active"><span class=""></span></div>
          <div class="owl-page"><span class=""></span></div>
        </div>
        <div class="owl-buttons">
          <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
          <div class="owl-next"><i class="fa fa-angle-right"></i></div>
        </div>
      </div>
      <div class="progressBar">
        <div class="bar" style="width: 87.75%;"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
