@font-face {
  font-family: 'PingFang';
  src: url("./PingFang-SC-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'STSongti';
  src: url("./STSongti-SC-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
