<html>
<head>
    <meta charset="UTF-8">
    <title>pinPade</title>
</head>
<body>
<div id="root">
    <div class="pinPage">
        <input type="text" v-model="currentNumber">
        <div class="inputBtnList">
            <button @click="traceNumber" v-for="(item, key) in buttons" :key="key">{{item}}</button>
        </div>
    </div>

    <div class="box">

    </div>

</div>
<style>
    .box{
        width: 500px;
        height: 500px;
        border: 2px solid;
        box-shadow: 20px 20px 20px red;
    }
</style>
<script>
    // ## 初始化
    // 例一 可以接受一个数组作为参数

    let arr = [1, 2, 3, 4, 4,]

    let set = new Set(arr);

    console.log("要打印的set日志是：" + set)

    // ...将一个数组转为用逗号分隔的参数序列
    console.log([...set]);

    let temp = [...set]

    console.log("要打印的temp日志是：" + temp)

</script>
</body>
</html>
